# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Logs_Reports/Debugging_results.txt
*.txt
*.asv
*.asv
*.asv
*.fig
*.asv
*.aux
*.pdf
*.pptx
*.png
*.jpg
*.csv
*.xlsx
*.mat
*.aux
Logs_Reports/Hybrid-Storage-Model_report.bbl
*.aux
Logs_Reports/Hybrid-Storage-Model_report.pdf
*.gz
*.bbl
Logs_Reports/Presentation/Hybrid-Storage-Control_presentation.bcf
*.blg
Logs_Reports/Presentation/Hybrid-Storage-Control_presentation.nav
*.out
Logs_Reports/Presentation/Hybrid-Storage-Control_presentation.run.xml
*.snm
Logs_Reports/Presentation/Hybrid-Storage-Control_presentation.toc
*.asv
*.eps
Numerical_Solutions/polyfitn.m
Numerical_Solutions/test.m
Numerical_Solutions/test2.m
Numerical_Solutions/test3.m
Numerical_Solutions/test4.m
Numerical_Solutions/Hybrid_Storage_DP_sol.asv
Numerical_Solutions/Hybrid_Storage_DP_sol.asv
Numerical_Solutions/Hybrid_Storage_DP_sol.asv
*.asv
Numerical_Solutions/Hybrid_Storage_DP_sol.asv
Numerical_Solutions/Hybrid_Storage_DP_sol.asv
Logs_Reports/debug.log
*.tex
*.log
Numerical_Solutions/Hybrid_Storage_DP_sol.asv
Numerical_Solutions/Hybrid_Storage_DP_sol.asv
Numerical_Solutions/test5.m
Numerical_Solutions/testNextStateFblty.m
Numerical_Solutions/Hybrid_Storage_DP_sol.asv
Numerical_Solutions/test6.m
Numerical_Solutions/test_0.m
Numerical_Solutions/w_and_wo_Interp_comparison.m
Numerical_Solutions/test0_1.m
Numerical_Solutions/test7.m
Logs_Reports/Paper/PaperV24_NoInterpolation.pdf.crdownload
Numerical_Solutions/LP_sol_IHDP_v8.m
Numerical_Solutions/ApproxLP_sol_IHDP_v9.m
Numerical_Solutions/ApproxLP_sol_IHDP_v8.m
Numerical_Solutions/test_neg1.m
Numerical_Solutions/ApproxLP_sol_IHDP_v14c.m
Numerical_Solutions/ApproxLP_sol_IHDP_v14d.m
Numerical_Solutions/GetCtrlPolicy_OptQVals_v2b.m
Numerical_Solutions/test_feasStatesCatArr.m
Numerical_Solutions/test_neg2.m
Numerical_Solutions/test_optD_policy.m
Numerical_Solutions/test_pos1.m
Numerical_Solutions/test8.m
Numerical_Solutions/licols.m
Numerical_Solutions/test_LICOLS.m
Numerical_Solutions/ApproxLP_sol_IHDP_v10b.m
Numerical_Solutions/GetCtrlPolicy_DualLP.m
Numerical_Solutions/test_neg3.m
TO DO - Report Update for R.B
Numerical_Solutions/ApproxLP_sol_IHDP_v14E.m
Numerical_Solutions/ApproxLP_sol_IHDP_v12c.m
Numerical_Solutions/vec2mat_custom.m
Numerical_Solutions/ApproxLP_sol_IHDP_v12c_WORKING.m
Numerical_Solutions/ApproxLP_sol_IHDP_v12c_working_noRechargeE2.m
